<div class="login-container">
  <div class="login-box">
    <h1>Iniciar Sesión</h1>
    <div>
      <p>Ingresa con tu cuenta de usuario</p>
    </div>
    <div class="logo-container">
      <img class="logo" src="/assets/img/UCG-03-1.jpg" alt="Logo">
    </div>

    <form [formGroup]="loginform" (ngSubmit)="onLogin()">
      
      <div class="margin">
        <span class="p-float-label">
          <input class="p-inputtext-sm input" id="username" type="email" name="email" formControlName="email" required pInputText />
          <label htmlFor="username">Nombre de usuario</label>
        </span>
      </div>

      <div class="margin">
        <span class="p-float-label">
            <input class="p-inputtext-sm input" type="password" name="password" formControlName="password" required pInputText/>
            <label for="password">Contraseña</label>
        </span>
      </div>
        <button pRipple class="boton-style2 width" routerLink="/home" >Iniciar Sesión</button>
    </form>
  </div>
</div>
  
