<div class="login-container">
  <div class="login-box">
    <h1>Iniciar Sesión</h1>
    <div>
      <p>Ingresa con tu cuenta de usuario</p>
    </div>
    <div class="logo-container">
      <img class="logo" src="/assets/img/UCG-03-1.jpg" alt="Logo">
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      
      <div class="margin p-fluid">
        <span class="p-float-label">
          <input id="username" type="email" name="email" formControlName="username" pInputText />
          <label htmlFor="username">Nombre de usuario</label>
        </span>
        <span *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid || requerido && loginForm.get('username')?.invalid" class="input_error">
          ** Campo requerido
        </span>
      </div>

      <div class="margin p-fluid">
        <span class="p-float-label">
            <input type="password" name="password" formControlName="password" pInputText/>
            <label for="password">Contraseña</label>
        </span>
        <span *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid || requerido && loginForm.get('password')?.invalid" class="input_error">
          ** Campo requerido
        </span>
      </div>
        <p-toast></p-toast>
        <button pRipple class="boton-style2 width" type="submit">Iniciar Sesión</button>
    </form>
  </div>
</div>
  
