<div class="background login-container">
    <div class="login-box">
      <h2>Iniciar Sesión</h2>
      <div>
        <p>Ingresa con tu cuenta de usuario</p>
      </div>
      <div class="logo-container">
        <img class="logo" src="../../../assets/img/UCG-03-1.jpg" alt="Logo">
      </div>
      <br>
      <form>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn boton-style2" routerLink="/home">Iniciar Sesión</button>
        </div>
      </form>
    </div>
</div>
  
