.container {
  background-color: #ffffff;
  // margin-top: 2%;
  // margin-bottom: 2%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(64,43,87, 255);
}
.logo{
  max-width: 150px;
}
h1 {
  color: #3bbac5;
  text-align: center;
  margin-top: 50px;
}
h3 {
  margin-top: 5%;
  color: #3e597b;
}
.form-group {
  margin-bottom: 5%;
}
.input-margin {
  border: 1px solid #402b57;
}
.aling-left{
  text-align: left;
}
.d-grid{
  margin-top: 12%;
}
.margin-icon{
  margin-right: 1%;
}
.tabla{
  width: 650px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}