<div class="container">
  <div class="row justify-content-center align-items-center g-2">
    
    <div class="col-3 logo-top-left">
      <img class="logo" src="../../../assets/img/UCG-01-1.jpg" alt="Logo Izquierdo">
    </div>
    <div class="col-6">
      <h1>Herramienta Paramétrica Unión de Crédito General</h1>
    </div>
    <div class="col-3 logo-top-right">
      <img class="logo" src="../../../assets/img/ifnb-01.jpeg" alt="Logo Derecho">
    </div>
  </div>
  
  <div class="form-container">
    <h2>Evaluación Crediticia</h2>
    <br>
    <form>
      <div class="row ">

        <div class="col">
          <br>
          <div class="form-group">
            <label for="industry">Industria del crédito</label>
            <select class="form-select form" aria-label="Default select example">
              <option selected disabled>--Indique la industria del crédito--</option>
              <option value="1">Construcción</option>
              <option value="2">Textil</option>
              <option value="3">Comercio</option>
              <option value="4">Agropecuario</option>
              <option value="5">Servicios</option>
              <option value="6">Industria</option>
              <option value="7">Otro</option>
            </select>
          </div>
    
          <div class="form-group">
            <label for="industry">¿Es actividad vulnerable?</label>
            <select class="form-select form" aria-label="Default select example">
              <option selected disabled>--Indique la actividad--</option>
              <option value="1">Sí</option>
              <option value="2">No</option>
            </select>
          </div>
    
          <div class="form-group">
            <label for="industry">Municipio del crédito</label>
            <select class="form-select form" aria-label="Default select example">
              <option selected disabled>--Indique el municipio--</option>
              <option value="1">Puebla</option>
              <option value="2">Querétaro</option>
              <option value="3">San Andrés Cholula</option>
              <option value="4">San Pedro Cholula</option>
              <option value="5">Otro</option>
            </select>
          </div>
    
          <label>*Información de las Sociedades de Información Crediticia</label>
    
          <div class="form-group">
            <label for="industry">Total de créditos con los que cuenta el intermediario</label>
            <input type="text" class="form-control form">
          </div>
    
          <div class="form-group">
            <label for="industry">Días de atraso que presenta en buró el acreditado</label>
            <select class="form-select form" aria-label="Default select example">
              <option selected disabled>--Indique los días--</option>
              <option value="1">No tiene atrasos</option>
              <option value="2">Hasta 30 días de atraso</option>
              <option value="3">Más de 30 días de atraso</option>
            </select>
          </div>
        </div>

        <div class="col">
          <label>*Datos del acreditado</label>
          <div class="form-group">
            <label for="industry">Monto de ventas</label>
            <input type="text" class="form-control form">
          </div>

          <div class="form-group">
            <label for="industry">Antigüedad de la empresa (en meses)</label>
            <input type="text" class="form-control form">
          </div>

          <div class="form-group">
            <label for="industry">Margen Financiero</label>
            <input type="text" class="form-control form">
          </div>
          <br>
          <div class="form-group">
            <label for="industry">ROA</label>
            <input type="text" class="form-control form">
          </div>
         
          <div class="d-grid gap-2 boton">
            <button type="submit" class="btn">Evaluar</button>
          </div>
        </div>
      </div>
      
    </form>
  </div>
</div>
  
