<app-loader></app-loader>
<div class="fondo" #bottom>
  <div class="content">
    <img src="../../../assets/img/UCG-01-1.jpg" class="img-fluid rounded float-start logo">
    <img src="../../../assets/img/ifnb-01.jpeg" class="img-fluid rounded float-end logo">
    <br>
    <h1 class="h1-margin"><strong>Herramienta Paramétrica</strong></h1>
    <h1><strong>Unión de Crédito General</strong></h1>
    <h3><strong>Calculadora PI</strong></h3>
    <br>
    <form [formGroup]="calculatorForm" (ngSubmit)="btnEvaluar()">
      <div class="row justify-content-around">

        <div class="col-12 col-lg-5 form-group">
          <div class="row">

            <div class="col-12 col-sm-9">
              <label class="color1"><strong>1. Industria del crédito</strong></label>
              <div class="p-fluid">
  
                <p-dropdown placeholder="--Seleccione una opción--" [showClear]="true" formControlName="indicador_a" [options]="indicador_a" optionLabel="name">
                  <ng-template let-option pTemplate="selectedItem">
                    <div class="flex gap-2" *ngIf="option">
                        <img src="{{ option.icon }}" class="icon">
                        <div class="text">{{ option.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    <div class="flex  gap-2">
                            <img src="{{ option.icon }}" class="icon"/>
                            <div class="text">{{ option.name }}</div>
                        </div>
                  </ng-template>
                </p-dropdown>
                
              </div> 
            </div>
  
            <div class="col-12 col-sm-3 align-self-end">
              <div class="card-body">
                <table class="table myBorder">
                  <thead>
                    <tr>
                      <th scope="col">BETA</th>
                      <th scope="col">PUNTAJE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{getIndicadorBeta('indicador_a')}}</td>
                      <td>{{getIndicadorPuntaje('indicador_a')}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
        
        <div class="col-12 col-lg-5 form-group">
          <div class="row">

            <div class="col-12 col-sm-9">
              <label class="color1"><strong>2. ¿Es actividad vulnerable?</strong></label>
              <div class="p-fluid">
                <p-dropdown placeholder="--Seleccione una opción--" formControlName="indicador_b" [options]="indicador_b" optionLabel="name">
                  <ng-template let-option pTemplate="selectedItem">
                    <div class="flex gap-2" *ngIf="option">
                        <img src="{{ option.icon }}" class="icon">
                        <div class="text">{{ option.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    <div class="flex  gap-2">
                            <img src="{{ option.icon }}" class="icon"/>
                            <div class="text">{{ option.name }}</div>
                        </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>

            <div class="col-12 col-sm-3 align-self-end">
              <div class="card-body">
                <table class="table myBorder">
                  <thead>
                    <tr>
                      <th scope="col">BETA</th>
                      <th scope="col">PUNTAJE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{getIndicadorBeta('indicador_b')}}</td>
                      <td>{{getIndicadorPuntaje('indicador_b')}}</td>
                    </tr>
                  </tbody>
                </table>
              </div> 
            </div>

          </div>
        </div>

        <div class="col-12 col-lg-5 form-group1">
          <div class="row row1">

            <div class="col-12 col-sm-9">
              <label class="color1"><strong>3. Municipio del crédito</strong></label>
              <div class="p-fluid">
                <p-dropdown placeholder="--Seleccione una opción--" formControlName="indicador_c" [options]="indicador_c" optionLabel="name">
                  <ng-template let-option pTemplate="selectedItem">
                    <div class="flex gap-2" *ngIf="option">
                        <img src="{{ option.icon }}" class="icon">
                        <div class="text">{{ option.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    <div class="flex  gap-2">
                            <img src="{{ option.icon }}" class="icon"/>
                            <div class="text">{{ option.name }}</div>
                        </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            
            <div class="col-12 col-sm-3 align-self-end">
              <div class="card-body">
                <table class="table myBorder">
                  <tbody>
                    <tr>
                      <td>{{getIndicadorBeta('indicador_c')}}</td>
                      <td>{{getIndicadorPuntaje('indicador_c')}}</td>
                    </tr>
                  </tbody>
                </table>
              </div> 
            </div>

          </div>
        </div>

        <div class="col-12 col-lg-5 form-group">
          <div class="row">
        
            <div class="col-12 col-sm-9">
              <div>
                <p class="color2">*Información de las Sociedades de Información Crediticia</p>  
              </div>
              <label class="color1"><strong>4. Total de créditos con los que cuenta el intermediario</strong></label>
              <div class="p-fluid">
                <p-dropdown placeholder="--Seleccione una opción--" formControlName="indicador_d" [options]="indicador_d" optionLabel="name">
                  <ng-template let-option pTemplate="selectedItem">
                    <div class="flex gap-2" *ngIf="option">
                        <img src="{{ option.icon }}" class="icon">
                        <div class="text">{{ option.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    <div class="flex  gap-2">
                            <img src="{{ option.icon }}" class="icon"/>
                            <div class="text">{{ option.name }}</div>
                        </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            
            <div class="col-12 col-sm-3 align-self-end">
              <div class="card-body">
                <table class="table myBorder">
                  <tbody>
                    <tr>
                      <td>{{getIndicadorBeta('indicador_d')}}</td>
                      <td>{{getIndicadorPuntaje('indicador_d')}}</td>
                    </tr>
                  </tbody>
                </table>
              </div> 
            </div>

          </div>
        </div>

        <div class="col-12 col-lg-5 form-group">
          <div class="row row1">
        
            <div class="col-12 col-sm-9">
              <label class="color1"><strong>5. Días de atraso que presenta en buró el acreditado</strong></label>
              <div class="p-fluid">
                <p-dropdown placeholder="--Seleccione una opción--" formControlName="indicador_e" [options]="indicador_e" optionLabel="name">
                  <ng-template let-option pTemplate="selectedItem">
                    <div class="flex gap-2" *ngIf="option">
                        <img src="{{ option.icon }}" class="icon">
                        <div class="text">{{ option.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    <div class="flex  gap-2">
                            <img src="{{ option.icon }}" class="icon"/>
                            <div class="text">{{ option.name }}</div>
                        </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            
            <div class="col-12 col-sm-3 align-self-end">
              <div class="card-body">
                <table class="table myBorder">
                  <tbody>
                    <tr>
                      <td>{{getIndicadorBeta('indicador_e')}}</td>
                      <td>{{getIndicadorPuntaje('indicador_e')}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>

        <div class="col-12 col-lg-5 form-group">
          <div class="row">

            <div class="col-12 col-sm-9">
              <div>
                <p class="color2">*Datos del acreditado</p>
              </div>
              <label class="color1"><strong>6. Monto de ventas ($)</strong></label>
              <div class="p-fluid">
                <p-dropdown placeholder="--Seleccione una opción--" formControlName="indicador_f" [options]="indicador_f" optionLabel="name">
                  <ng-template let-option pTemplate="selectedItem">
                    <div class="flex gap-2" *ngIf="option">
                        <img src="{{ option.icon }}" class="icon">
                        <div class="text">{{ option.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    <div class="flex  gap-2">
                            <img src="{{ option.icon }}" class="icon"/>
                            <div class="text">{{ option.name }}</div>
                        </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            
            <div class="col-12 col-sm-3 align-self-end">
              <div class="card-body">
                <table class="table myBorder">
                  <tbody>
                    <tr>
                      <td>{{getIndicadorBeta('indicador_f')}}</td>
                      <td>{{getIndicadorPuntaje('indicador_f')}}</td>
                    </tr>
                  </tbody>
                </table>
              </div> 
            </div>

          </div>
        </div>

        <div class="col-12 col-lg-5 form-group">
          <div class="row">

            <div class="col-12 col-sm-9">
              <label class="color1"><strong>7. Antigüedad de la empresa (en meses)</strong></label>
              <div class="p-fluid">
                <p-dropdown placeholder="--Seleccione una opción--" formControlName="indicador_g" [options]="indicador_g" optionLabel="name">
                  <ng-template let-option pTemplate="selectedItem">
                    <div class="flex gap-2" *ngIf="option">
                        <img src="{{ option.icon }}" class="icon">
                        <div class="text">{{ option.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    <div class="flex  gap-2">
                            <img src="{{ option.icon }}" class="icon"/>
                            <div class="text">{{ option.name }}</div>
                        </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            
            <div class="col-12 col-sm-3 align-self-end">
              <div class="card-body">
                <table class="table myBorder">
                  <tbody>
                    <tr>
                      <td>{{getIndicadorBeta('indicador_g')}}</td>
                      <td>{{getIndicadorPuntaje('indicador_g')}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>  
            </div>

          </div>
        </div>

        <div class="col-12 col-lg-5 form-group">
          <div class="row">

            <div class="col-12 col-sm-9">
              <label class="color1"><strong>8. Margen Financiero (%)</strong></label>
              <div class="p-fluid">
                <p-dropdown placeholder="--Seleccione una opción--" formControlName="indicador_h" [options]="indicador_h" optionLabel="name">
                  <ng-template let-option pTemplate="selectedItem">
                    <div class="flex gap-2" *ngIf="option">
                        <img src="{{ option.icon }}" class="icon">
                        <div class="text">{{ option.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    <div class="flex  gap-2">
                            <img src="{{ option.icon }}" class="icon"/>
                            <div class="text">{{ option.name }}</div>
                        </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            
            <div class="col-12 col-sm-3 align-self-end">
              <div class="card-body">
                <table class="table myBorder">
                  <tbody>
                    <tr>
                      <td>{{getIndicadorBeta('indicador_h')}}</td>
                      <td>{{getIndicadorPuntaje('indicador_h')}}</td>
                    </tr>
                  </tbody>
                </table>
              </div> 
            </div>

          </div>
        </div>

        <div class="col-12 col-lg-5 form-group">
          <div class="row">

            <div class="col-12 col-sm-9">
              <label class="color1"><strong>9. ROA (%)</strong></label>
              <div class="p-fluid">
                <p-dropdown placeholder="--Seleccione una opción--" formControlName="indicador_i" [options]="indicador_i" optionLabel="name">
                  <ng-template let-option pTemplate="selectedItem">
                    <div class="flex gap-2" *ngIf="option">
                        <img src="{{ option.icon }}" class="icon">
                        <div class="text">{{ option.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    <div class="flex  gap-2">
                            <img src="{{ option.icon }}" class="icon"/>
                            <div class="text">{{ option.name }}</div>
                        </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            
            <div class="col-12 col-sm-3 align-self-end">
              <div class="card-body">
                <table class="table myBorder">
                  <tbody>
                    <tr>
                      <td>{{getIndicadorBeta('indicador_i')}}</td>
                      <td>{{getIndicadorPuntaje('indicador_i')}}</td>
                    </tr>
                  </tbody>
                </table>
              </div> 
            </div>

          </div>
        </div>

        <div class="col-12 col-lg-5 form-group">
  
          <label class="color1"><strong>10. Severidad de la Pérdida (%)</strong></label>
          <div class="p-fluid">
            <p-dropdown placeholder="--Seleccione una opción--" formControlName="indicador_k" [options]="indicador_k" optionLabel="name">
            <ng-template let-option pTemplate="selectedItem">
                <div class="flex gap-2" *ngIf="option">
                    <img src="{{ option.icon }}" class="icon">
                    <div class="text">{{ option.name }}</div>
                </div>
              </ng-template>
              <ng-template let-option pTemplate="item">
                <div class="flex  gap-2">
                        <img src="{{ option.icon }}" class="icon"/>
                        <div class="text">{{ option.name }}</div>
                    </div>
              </ng-template>
            </p-dropdown>
            <!-- <p-inputNumber formControlName="indicador_k" inputId="temperature" suffix="%"> </p-inputNumber> -->
          </div>
  
        </div>

        <div class="col-12 col-lg-5 form-group">
  
          <label class="color1"><strong>11. Tipo de crédito</strong></label>
          <div class="p-fluid">
            <p-dropdown placeholder="--Seleccioné el tipo de crédito--" formControlName="indicador_l" [options]="indicador_l" optionLabel="name">
              <ng-template let-option pTemplate="selectedItem">
                <div class="flex gap-2" *ngIf="option">
                    <img src="{{ option.icon }}" class="icon">
                    <div class="text">{{ option.name }}</div>
                </div>
              </ng-template>
              <ng-template let-option pTemplate="item">
                <div class="flex  gap-2">
                        <img src="{{ option.icon }}" class="icon"/>
                        <div class="text">{{ option.name }}</div>
                    </div>
              </ng-template>
            </p-dropdown>
          </div>
          
        </div>

        <div class="col-12 col-lg-5 boton-margin">
          <div class="d-grid col-top2">
            <button type="submit" class="boton-style1" >
              Evaluar
            </button>
          </div>
        </div>

      </div>
    </form>

    <br>
    <div class="collapse" [ngClass]="{'show' : alert}">
      <div class="alert alert-danger text-center" role="alert">
        <i class="bi bi-exclamation-triangle margin-icon"></i>
        <label>
          ¡Todos los campos son obligatorios!
        </label>
      </div>
    </div>

  </div>
  <br><br>

  <div class="content collapse" [ngClass]="{'show': mostrarDetalles}">
    <div class="card mb-3" >
      <div class="card-header d-flex">
        <button class="btn-close ms-auto" (click)="ocultarCard()"></button>
      </div>

      <div class="row g-0">

        <div class="col-12 col-lg-6">
          <div class="card-body">
            <div class="list-group">
              <div class="list-group-item">
                <h5 class="mb-1">Ejecutivo de negocios:</h5>
                <br>
                <span class="p-float-label">
                  <input pInputText id="nombre-ejecutivo"/>
                  <label htmlFor="nombre-ejecutivo">Nombre</label>
                </span>
              </div>

              <div class="list-group-item">
                <h5 class="mb-1">Prospecto:</h5>
                <br>
                <div class="row">

                  <div class="col">
                    <span class="p-float-label">
                      <input pInputText id="nombre-prospecto"/>
                      <label htmlFor="nombre-prospecto">Nombre</label>
                    </span>
                  </div>

                  <div class="col">
                    <span class="p-float-label">
                      <input pInputText id="email-propecto"/>
                      <label htmlFor="email-propecto">Email</label>
                    </span>
                  </div>

                </div>
                <br>
                <div class="row">

                  <div class="col">
                    <span class="p-float-label">
                      <input pInputText id="tel-propecto"/>
                      <label htmlFor="tel-propecto">Teléfono</label>
                    </span>
                  </div>

                  <div class="col">
                    <span class="p-float-label">
                      <input pInputText id="direccion-propecto"/>
                      <label htmlFor="direccion-propecto">Dirección</label>
                    </span>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="card-body table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">BETA</th>
                  <th scope="col">PUNTAJE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Total</strong></td>
                  <td>{{ totalBeta }}</td>
                  <td>{{ totalPuntaje }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td><strong>Probabilidad de Incumplimiento</strong></td>
                    <td>{{respuestaData.resultado.totalizadores.probabilidadIncumplimiento}}%</td>
                  </tr>
                  <tr>
                    <td><strong>Puntaje</strong></td>
                    <td>{{respuestaData.resultado.totalizadores.puntuaje}}</td>
                  </tr>
                  <tr>
                    <td><strong>% Reservas</strong></td>
                    <td>{{respuestaData.resultado.totalizadores.reservaPerdida}}%</td>
                  </tr>
                  <tr>
                    <td><strong>Calificación</strong></td>
                    <td>{{respuestaData.resultado.totalizadores.calificacion}}</td>
                  </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <button type="button" class="mx-auto boton-style1" (click)="showDialog()">
        Tabla de porcentaje de reservas preventivas
      </button>
      <br>

    </div>
    <p-dialog [(visible)]="visible">
      <img src="../../../assets/img/Tabla-porcentaje.png" class="tabla">
    </p-dialog>

  </div>
</div>