@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

// Loader
.overlay{
    position:fixed;
    width:100%;
    height:100%;
    background-color:#4e525669;
    z-index:999999999;
    display:flex;
    align-items:center;
    justify-content:center;
}


.input_error{
    color: red;
}
.boton-style1 {
    background-color: #3bbac5;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.boton-style1:hover {
    background-color: #402b57;
    color: white;
}
.boton-style2 {
    background-color: #402b57;
    color: #fff;
    width: 100%;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.boton-style2:hover {
    background-color: #3bbac5;
    color: black;
}
.color1{
    color: #402b57;
}
.color2{
    color: #3bbac5;
}
